.container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  
}

.circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-weight: bold;
}
.imageBorder img{
  border-radius: 50%;
  width: 200px;
  height: 200px;
  box-shadow: 0px 0px 15px black;
  transition: .2s ease;
}
.headerTitle {
  display: flex;
  flex-direction: column;
  position: relative;
  width: fit-content;
  font-size: 2rem;
}

.headerTitle svg {
  width: 100%;
  bottom: 0px;
  color: var(--primaryColor);
}
.imageBorder {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageBorder::before{
  content: '';
  position: absolute;
  border:solid var(--primaryColor) 10px;
  width: 90%;
  height: 90%;
  border-radius: 50%;
  transition: .2s ;
  z-index: -1;
  opacity: .5;

}

.circle:hover > .imageBorder::before{
  width: 118%;
  height: 118%;
}
.circle:hover > .imageBorder img{
  box-shadow: 0px 0px 30px var(--primaryColor);

}