.rightSide {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 30px;
  overflow: hidden;
}

.leftSide {
  display: flex;
  gap: 30px;
  align-items: center;
  height: 100%;
  overflow: hidden;
}
.leftSide a {
  display: flex;
  gap: 5px;
  align-items: center;
  height: 100%;
}

.leftSide svg {
  width: 25px;
  height: 25px;
}

.navbarMenus {
  display: flex;
  gap: 30px;
}

.header {
  background: var(--primaryColor);
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  font-weight: bold;
  color: white;
  z-index: 999;
  position: fixed;
  top: 119px;
  transition: 0.2s ease;
}

.menuBar {
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  max-width: 1280px;
  margin: auto;
  height: 100%;
  width: 100%;
}

.menuBar a {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 10px;
  position: relative;
  transition: 0.2s ease;
}

.menuBar a::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 20px;
  background: var(--complementaryColor);
  top: 0px;
  transform: translateY(-10px);
  transition: 0.2s ease;
  height: 8px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.menuBar a::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 8px;
  background: var(--complementaryColor);
  bottom: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  transform: translateY(10px);
  transition: 0.2s ease;
}

.menuBar a:hover::after {
  transform: translate(0px);
}
.menuBar a:hover::before {
  transform: translate(0px);
}

.menuBar a:hover {
  box-shadow: inset 0px 0px 200px rgba(184, 135, 11, 0.07);
}
