.callToActionLink {
  position: absolute;
  left: 0px;
  bottom: 0px;
  background: var(--primaryColor);
  color: white;
  border-top-right-radius: 10px;
  width: 145px;
  height: 40px;
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 12px 5px;
  box-shadow: 5px 5px 20px var(--primaryColor);
  white-space: nowrap;
  transition: .2s ease;
  overflow: hidden;
  transition: .2s ease;

}

.callToActionLink svg {
  scale: 1.5;
}


.callToActionLink::before{
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  transform: translateX(-100%);
  background: var(--complementaryColor);
  transition: .2s ease;
}
.callToActionLink:hover{
  color: black ;
  box-shadow: 0px 0px 5px var(--complementaryColor);
}
.callToActionLink:hover::before{
  color: black;
  transform: translateX(0%);
}
