@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --primaryDark: #152226;
  --primaryColor: #3b6476;
  --complementaryColor:#E9AD47;
  --lightBG: #ccdee6;
  --whole-bg: #f6f9fa;
  --shade_bg: linear-gradient(-90deg, #335665, var(--primaryColor));
}

body {
  background-color: var(--whole-bg);
}

/* *:hover { 
  outline: 2px green solid !important;
}
   */
