@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root{
     --primaryColor:linear-gradient(-90deg, #305160 , #416E82);
     --secondaryColor: #416E82;
     --lightBG:#CCDEE6;
     --whole-bg: #F6F9FA;
    }



body{
  background-color: var(--whole-bg);
}